{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<header class="px-6 py-10 lg:py-20 bg-gray-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Bienvenido a Vans! Off The Wall</p>

        <p class="mb-10 text-white">Los zapatos más chimbas del mercado</p>

        <a href="{% url 'shop' %}" class="inline-block px-8 py-4 rounded-xl bg-red-500 text-white hover:bg-red-800">Comprar</a>

    </div>
</header>

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    
    <div class="products flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/product_list_item.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}