{% extends 'core/base.html' %}

{% block title %}My account{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">Mi cuenta</h1>

    <div class="mb-6">
        <strong>Nombre: </strong>{{ request.user.get_full_name }}<br>
        <strong>Username: </strong>{{ request.user.username }}<br>
        <strong>E-mail: </strong>{{ request.user.email }}<br>

        <a href="{% url 'edit_myaccount' %}" class="inline-block mt-4 py-4 px-6 rounded-xl text-white bg-red-500">Editar</a>
    </div>

    <hr>

    <h2 class="my-6 text-xl">Mis órdenes</h2>

    {% for order in request.user.orders.all %}
        <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
            <div class="mb-6 flex justify-between">
                <a href="#">id de la orden: {{ order.id }}</a>
            </div>

            <div class="mb-6 w-full">
                {% for item in order.items.all %}
                    <div class="product mb-6 flex pr-6">
                        <a href="#" class="w-1/4">
                            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
                        </a>

                        <div class="w-3/4 pl-6">
                            <div class="flex justify-between">
                                <a href="#" class="text-lg">{{ item.product.name }}</a>

                                <p class="mb-6 pt-1 text-gray-400">${{ item.get_total_price }}</p>
                            </div>

                            <hr>

                            <div class="mt-6">
                                Quantity: {{ item.quantity }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div>
                <p class="text-lg">Date: {{ order.created_at }}</p>
                <p class="text-lg">Total: ${{ order.get_total_price }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}