<a href="{% url 'cart' %}" id="menu-cart-button" class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
    </svg>

    <span class="p-2 absolute -top-4 -right-3 bg-red-500 text-white text-xs rounded-full">{{ cart|length }}</span>
</a>
