{% extends 'base.html' %}

{% block content %}

<h1>Ingresar producto</h1>

{{error}}
<form action="/create_task/" method="POST">
  {% csrf_token %}
  {{form}}

  <button>Save</button>
</form>
{% endblock %}