{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

<p>
{{error}}
</p>

<form action="/signin/" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button>
    Login
  </button>
</form>

{% endblock %}