<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'miapp/style.css' %}">
    <title>Inicio</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" method="POST" class="sign-in-form">
            <h2 class="title">Loguearme</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nombre de usuario" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" />
            </div>
            <input type="submit" id="loginButton" value="Ingresar" class="btn solid" />
            <p class="social-text">Ingresar mediante redes sociales</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="#" method="POST" class="sign-up-form">
            <h2 class="title">Registrarme</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nombre de usuario" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" />
            </div>
            <input id="registerButton" type="submit" class="btn" value="Registrarme" />
            <p class="social-text">Registrarme mediante redes sociales</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>¿Eres nuevo por aquí?</h3>
            <p>
              Dale click al botón para registrarte
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Registrarme
            </button>
          </div>
          <img src="{% static 'miapp/img/vans.jpg' %}" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>¿ Ya eres uno de nosotros ?</h3>
            <p>
              Dale click al botón e inicia sesión en tu cuenta
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Loguearme
            </button>
          </div>
          <img src="{% static 'miapp/img/vans.jpg' %}" class="image" alt="" />
        </div>
      </div>
    </div>
    <script>
      // Función para enviar datos del formulario de registro

      const sign_in_btn = document.querySelector("#sign-in-btn");
const sign_up_btn = document.querySelector("#sign-up-btn");
const container = document.querySelector(".container");

sign_up_btn.addEventListener("click", () => {
  container.classList.add("sign-up-mode");
});

sign_in_btn.addEventListener("click", () => {
  container.classList.remove("sign-up-mode");
});

      document.getElementById('registerButton').addEventListener('click', function(event) {
          event.preventDefault();
          const registerForm = document.getElementById('sign-up-form');
          const formData = new FormData(registerForm);
  
          fetch('/registro/', {
              method: 'POST',
              body: formData,
          })
          .then(response => response.json())
          .then(data => {
              console.log(data);  // Puedes manejar la respuesta según tus necesidades
          })
          .catch(error => console.error('Error:', error));
      });
  
      // Función para enviar datos del formulario de login
      document.getElementById('loginButton').addEventListener('click', function(event) {
          event.preventDefault();
          const loginForm = document.getElementById('sign-in-form');
          const formData = new FormData(loginForm);
  
          fetch('/login/', {
              method: 'POST',
              body: formData,
          })
          .then(response => response.json())
          .then(data => {
              console.log(data);  // Puedes manejar la respuesta según tus necesidades
          })
          .catch(error => console.error('Error:', error));
      });
  </script>

    

    <script src="JS/script.js"></script>
  </body>
</html>
