<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} | Vans</title>
    </head>

    <body>
        <nav class="bg-black border-b border-gray-300">
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="menu-left flex items-center space-x-6">
                    <a href="{% url 'frontpage' %}" class="py-4 text-lg text-white font-semibold">Vans</a>


                    <ul class="flex items-center space-x-4">
                        <li><a href="{% url 'shop' %}" class="text-white">Shop</a></li>
                        <li><a href="#" class="text-white">About</a></li>

                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'logout' %}" class="text-white">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="menu-right flex items-center space-x-4">
                    <a href="{% url 'myaccount' %}" class="text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </a>
                    
                    
                    <div class="text-white"
                         hx-get="{% url 'hx_menu_cart' %}"
                         hx-trigger="update-menu-cart from:body"
                        hx-swap="innerHTML"
                    >
                     {% include 'cart/partials/menu_cart.html' %}
                </div>
                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="bg-gray-100">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <div class="footer-left mb-12 md:mb-0">
                    <h2 class="mb-5 uppercase text-lg">Sobre nosotros</h2>

                    <p class="text-gray-700">Desarrollado por Marco Antonio Mesa Cardona</p>
                </div>

                <div class="footer-right">
                    <h2 class="mb-5 uppercase text-lg">Redes</h2>

                    <ul class="space-y-2">
                        <li><a href="#" class="text-red-500 hover:text-red-800">Facebook</a></li>
                        <li><a href="#" class="text-red-500 hover:text-red-800">Twitter</a></li>
                        <li><a href="#" class="text-red-500 hover:text-red-800">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>