{% extends 'core/base.html' %}

{% block title %}Sucess{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="products w-full lg:w-3/4">
        <h1 class="mb-5 text-3xl">Pedido exitoso</h1>

        <p>Gracias por tu compra!</p>
    </div>
</div>
{% endblock %}